

.views-exposed-widget .views-submit-button {
  clear: both;
}

.views-exposed-form {
  .views-exposed-widget {
    position: relative;
    padding-top: 30px;
    label {
      position: relative;
      float: left;
      top: -30px;
      left: 0;
      margin-bottom: -30px;
    }
    .form-submit {
      margin-top: 0;
    }
  }
}
