/**
 * @file
 * Styles for system messages.
 */

.system-messages {
  @extend .clear;
}

.messages {
  @if $use-icon-font == false {
    background-position: 8px 8px;
    background-repeat: no-repeat;
  }

  border: $message-border-style;
  margin: 0.3em 0;
  padding: 0.7em 0.7em 0.7em 50px;

  @include border-radius($message-border-radius);

  ul {
    margin: 0 0 0 1em;
    padding: 0;
    li {
      list-style-image: none;
    }
  }
  &.status {
    @if $use-icon-font == false {
      background-image: image-url('ok.png');
    } @else {

    }
    background-color: $message-status-bgcolor;
    border-color: $message-status-bordercolor;
  }
  &.warning {
    @if $use-icon-font == false {
      background-image: image-url('warning.png');
    } @else {

    }
    background-color: $message-warning-bgcolor;
    border-color: $message-warning-bordercolor;
  }
  &.error {
    @if $use-icon-font == false {
      background-image: image-url('error.png');
    } @else {

    }
    background-color: $message-error-bgcolor;
    border-color: $message-error-bordercolor;
    color: $message-error-color;
  }
}

// Status

.status,
.ok {
  color: $message-status-color;
}

table tr.ok {
  background-color: $message-status-bgcolor;
}

// Warning

.warning {
  color: $message-warning-color;
}

table tr.warning {
  background-color: $message-warning-bgcolor;
}

// Error

table tr.error {
  background-color: $message-error-bgcolor;
}

.error {
  color: $jet;
}
